.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #faf8de;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header{
  font-weight: bold;
  border-radius: 2px !important;
}
#note-text{
  font-weight:normal;
  /* color: purple; */
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.note-container {
  display: flex;
  flex-wrap: wrap;

}

.card {
  width: 18rem;
  margin: 1vh;
  position: relative;
  left: 6%;
}


