/* Header.css */
.header-container {
    margin-top: 13vh;
    position: relative;
    text-align: center;
}

.logo {
    position: absolute;
    left: 10%;
    top: -10vh;
    width: 25vh; /* Set a default width for the image */
    height: 25vh; /* Set a default height for the image */

    /* Media query for smaller screens */
    @media (max-width: 600px) {
        width: 10vh; /* Adjust the width for smaller screens */
        height: 10vh; /* Adjust the height for smaller screens */
        top: 5vh;

    }
}
