.sticky-note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Login {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 500px;
    position: relative; /* Make it a positioning context for absolute positioning */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

.btn {
    width: 100%;
    margin-top: 10px;
}

