/* Table styles */
table {
    background-color: #121212;
    color: white;
    width: 100%;
}

th, td {
    border-bottom: 1px solid black;
    height: 7vh;
    width: 50vh;
}

tr:hover {
    background-color: #F8F9FA !important;
    color: black;
}

tr:nth-child(odd) {
    background-color: #2C2E2C;
}

/* Table container styles with custom scrollbar */
.table-container {
    height: 175vh;
    overflow-y: auto; /* Use 'auto' to show scrollbar only when needed */
}

/* Profile picture styles */
.profile-picture {
    margin-top: 5vh;
    margin-left: 4vh;
    width: 40vh;
    height: 40vh;
}

/* Custom scrollbar styles for WebKit (Chrome, Safari) */

