/* Table styles */
/* table {
    background-color: #121212;
    color: white;
    width: 100%;
} */


th, td {
    border-bottom: 1px solid black;
    height: 7vh;
    width: 50vh;
}

tr:hover {
    background-color: #F8F9FA !important;
    color: black;
}

tr:nth-child(odd) {
    background-color: #2C2E2C;
}

.table-container {
    height: 175vh;
    overflow-y: auto; 
    top: 0vh;
}

.profile-picture {
    margin-top: 5vh;
    margin-left: 4vh;
    width: 40vh;
    height: 40vh;
}

.profile-form{
  height: 5vh;
  margin-bottom: 0;
}


/* Custom scrollbar styles for WebKit (Chrome, Safari) */


/*
::-webkit-scrollbar {
  position: relative;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0B0B0B; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #DFE0E1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6A6B6C
  ; 
}

body.dark-mode ::-webkit-scrollbar {
  width: 10px;
}

body.dark-mode ::-webkit-scrollbar-track {
  background-color: blue; 
}

body.dark-mode ::-webkit-scrollbar-thumb {
  background-color: #4f5051; 
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
  background-color: #6A6B6C; 
}*/